html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  height: 100%;
  width: 100%;
}

.legend {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: rgba(30,30,30,0.8);
  color: #fff;
  padding: 8px 10px;
  border-radius: 6px;
  font-family: "Segoe UI", sans-serif;
  font-size: 11px;
}
